/* RAIZ */
.contato-section {
    width: 100%;
    min-height: 100vh;
    padding: 80px 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(rgba(48, 4, 4, .92), rgba(48, 4, 4, .92)), url('../assets/img/hero.jpg') center/cover no-repeat;
    color: #222;
}

/* CONTAINER */
.contato-section .contato-container {
    max-width: 1200px;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

/* INFORMAÇÕES */
.contato-section .contato-info h2 {
    font-size: 42px;
    color: var(--dourado);
    margin-bottom: 10px;
}

.contato-section .contato-info h3 {
    font-size: 24px;
    color: var(--dourado);
    margin-bottom: 15px;
}

.contato-section .contato-info p {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--branco);
}

/* BOTÃO WHATSAPP */
.contato-section .contato-whatsapp {
    display: inline-block;
    margin-top: 20px;

    background: linear-gradient(145deg, #25D366, #1da955);
    color: #fff;

    padding: 12px 24px;
    border-radius: 50px;

    text-decoration: none;
    font-weight: 600;

    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.contato-section .contato-whatsapp:hover {
    transform: translateY(-2px);
    filter: brightness(1.1);
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .contato-section .contato-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
