/* RAIZ DO COMPONENTE */
.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    backdrop-filter: blur(8px);
    background-color: var(--vinho);
    color: var(--dourado);

    display: flex;
    justify-content: center;

    height: 90px;
}

/* CONTAINER CENTRAL */
.site-header .header-container {
    max-width: 1200px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 60px;
    padding: 15px 30px;
}

/* LOGO */
.site-header .header-logo img {
    height: 65px;
}

/* MENU */
.site-header .header-nav {
    display: flex;
    align-items: center;
    gap: 65px;
}

/* LINKS */
.site-header .header-nav a {
    color: var(--dourado);
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;

    padding: 10px 16px;
    border-radius: 5px;

    transition: 0.3s ease;
    letter-spacing: 0.5px;
}

/* HOVER */
.site-header .header-nav a:hover {
    background-color: var(--dourado);
    color: var(--vinho);
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .site-header .header-container {
        flex-direction: column;
        gap: 15px;
    }

    .site-header .header-nav {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .site-header .header-logo img {
        height: 55px;
    }
}
