/* RAIZ DO COMPONENTE */
.sobre-section {
    width: 100%;
    min-height: 100vh;
    padding: 80px 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(rgba(48, 4, 4, .92), rgba(48, 4, 4, .92)), url('../assets/img/hero.jpg') center/cover no-repeat;
    color: #222;
}

/* CONTAINER CENTRAL */
.sobre-section .sobre-container {
    max-width: 1200px;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;

    align-items: center;
}

/* TEXTO */
.sobre-section .sobre-texto h1 {
    font-size: 42px;
    color: var(--dourado);
    margin-bottom: 20px;
}

.sobre-section .sobre-texto p {
    font-size: 18px;
    line-height: 1.7;
    color: var(--branco);
    margin-bottom: 20px;
}

/* DESTAQUES */
.sobre-section .sobre-destaques {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.sobre-section .sobre-destaques span {
    background: var(--dourado);
    color: #000;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: .9rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.sobre-section .sobre-destaques span:hover {
    background: var(--olive);
    color: var(--vinho);
}

/* IMAGEM */
.sobre-section .sobre-imagem img {
    width: 100%;
    border-radius: 8px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    object-fit: cover;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .sobre-section {
        padding: 60px 20px;
    }

    .sobre-section .sobre-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .sobre-section .sobre-destaques {
        align-items: center;
    }
}